/* html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
} */

@font-face {
  font-family: "Noto Sans JP";
  src: url('../public/NotoSansJP-Regular.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url('../public/NotoSansJP-Bold.otf') format("opentype");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Noto Sans JP", Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black;
  /* background-color: #0a090f; */
  /* background-color: #08070d; */
  color: #ffffff;
}

.landing {
  text-align: center;
  min-height: 60vh;
  margin-top: 30vh;
}

.landing h1 {
  font-size: 72px;
  letter-spacing: 15px;
  /* adjust for extra spacing after last letter */
  margin-right: -15px; 
  margin-bottom: 20px;
}

.landing p {
  font-size: 20px;
}

.landing button {
  margin-top: 50px;
  font-size: 20px;
  border: solid 5px;
  border-image: url('../public/solanaGradient.png') 100 100;
  background-color: #161424;
  color: #ffffff;
  padding: 20px 40px;
  border-radius: 15px;
  font-family: "Noto Sans JP";
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
}

.landing button:hover {
  background-color: #ffffff;
  border-color: #000000;
  color: #000000;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000;
  padding-bottom: 1em;
}

nav > div {
  display: flex;
}

.navbarLogo {
  margin-top: 10px;
  cursor: pointer;
}

.navbarLogo img {
  height: 50px;
  margin-top: 10px;
  margin-left: 30px;
}

.navbarLinks {
  text-transform: uppercase;
  margin-top: 10px;
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.navbarLinks a {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 3px;
  color: #fff;
  text-decoration: none;
  padding: 0.5em;
  margin: 0px 50px;
  border-bottom: 3px solid transparent; 
  /* transition: 0.3s; */
}

.navbarLinks .active {
  color: #fff;
  border-image: url('../public/solanaGradient.png') 100 100;
  border-bottom: 3px solid;
}

.navbarLinks a:hover {
  color: #fff;
  /* border-image: url('../public/solanaGradient.png') 100 100;
  border-bottom: 3px solid; */

  /* background-image: url('../public/solanaGradient.png');
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.navbarWallet {
  margin-top: 10px;
  margin-right: 10px;
}

.navbarWalletButton {
  float: right;
  font-size: 15px;
  color: #fff;
  background-color: #161424;
  border: solid 3px;
  border-image: url('../public/solanaGradient.png') 100 100;
  padding: 15px 30px;
  border-radius: 10px;
  font-family: "Noto Sans JP";
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
}

.navbarWalletButton:hover:not(:disabled) {
  background-color: rgb(81, 44, 168);
  color: #fff;
  /* background-color: #ffffff;
  color: #000000; */
  border-color: #000000;
}

.fundsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  margin: auto;
}

.fund {
  margin-top: 3%;
  background-color: rgb(8, 7, 13);
  border-radius: 15px;
  border: solid 1px;
  border-image: url('../public/solanaGradient.png') 100 100;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.fund .fundName {
  width: 25%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-left: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.fund .fundSupply {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.fund .fundPerformance {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
}

.fundAssets {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fundAsset {
  width: 25%;
  display: flex;
  flex-direction: row;
}

.fundAssets .logoContainer {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fundAssets .logoContainer img {
 height: 30px; 
}

.fundAssets .nameContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fundHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fundHeader h1 {
  font-size: 40px;
}

.buyButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.buyButtonContainer button {
  margin-left: 20px;
  font-size: 20px;
  border: solid 5px;
  border-image: url('../public/solanaGradient.png') 100 100;
  background-color: #161424;
  color: #ffffff;
  padding: 10px 50px;
  border-radius: 15px;
  font-family: "Noto Sans JP";
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
}

.buyButtonContainer button:hover {
  background-color: #ffffff;
  border-color: #000000;
  color: #000000;
}

.fundInfoHeader .address {
  margin-bottom: 1%;
}

.fundInfoHeader .creator {
  margin-top: 0;
}

.fundInfoHeader a:link {
  color: cyan;
}

.fundInfoHeader a:visited {
  color: #777;
}

.fundInfoHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1%;
}

.fundInfoHeader h2 {
  margin-top: 0;
  margin-bottom: 0;
  width: 45%;
}

.break {
  width: 100%;
  height: 0;
}

.tokensOwned {
  width: 50%;
  text-align: right;
  margin-top: 0;
  margin-bottom: 0;
}

.tokensOwned p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
}

.priceHistory {
  width: 95%;
  margin: auto;
  height: 550px;
  /* background-color: rgb(8, 7, 13); */
  border: 1px solid rgb(80, 79, 79);
  padding-top: 0px;
}

.priceHistory h2 {
  margin-left: 3%;
  margin-top: 2%;
  margin-bottom: 0px;
  font-size: 40px;
}

.tokenInfo {
  width: 95%;
  height: 420px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid rgb(80, 79, 79);
}

.tokensContainer {
  width: 49%;
  height: 100%;
  border-right: 1px solid rgb(80, 79, 79);
}

.tokensContainer h1 {
  margin-left: 38%;
}

.tokenList {
  display: flex;
  flex-direction: column;
  padding-left: 20%;
  padding-top: 5%;
}

.tokenList .listEntry {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 20px;
  margin-bottom: 5%;
}

.tokenList .listEntry .logoContainer {
  width: 10%;
}

.tokenList .listEntry img {
  height: 30px;
}

.tokenList .listEntry .nameContainer {
  width: 40%;
}

.tokensPieChart {
  width: 49%;
  height: 100%;
}

.spacer {
  height: 200px;
}

.createContainer {
  width: 80%;
  height: 100%;
  margin: auto;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid rgb(80, 79, 79);
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  padding-top: 5%;
}

.createFundInfo {
  margin: auto;
  width: 60%;
  display: flex;
  flex-direction: row;
}

.createFundInfo .nameContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  align-items: center;
}

.nameInput {
  font-size: 20px;
  margin-top: 5%;
  width: 100%;
  text-align: center;
  font-family: "Noto Sans JP";
}

.createFundInfo .symbolContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  align-items: center;
}

.symbolInput {
  font-size: 20px;
  margin-top: 5%;
  width: 30%;
  text-align: center;
  font-family: "Noto Sans JP";
}

.createTokenList {
  width: 50%;
  display:flex;
  flex-direction: column;
}

form {
  margin-left: 20%;
  margin-top: 13%;
}

.tokenEntry {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin-bottom: 5%;
}

.tokenEntry .logoContainer {
  width: 10%;
}

.tokenEntry img {
  height: 30px;
  margin: auto;
}

.tokenEntry .nameContainer {
  width: 30%;
}

.tokenEntry .numInput {
  width: 15%;
  height: 23px;
  font-size: 15px;
  text-align: center;
  font-family: "Noto Sans JP";
}

.chartPreview {
  width: 50%;
}

.createButtonContainer {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.createButton {
  font-size: 20px;
  border: solid 5px;
  border-image: url('../public/solanaGradient.png') 100 100;
  background-color: #161424;
  color: #ffffff;
  padding: 10px 50px;
  border-radius: 15px;
  font-family: "Noto Sans JP";
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
}