/* html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
} */

@font-face {
  font-family: "Noto Sans JP";
  src: url('../public/NotoSansJP-Regular.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url('../public/NotoSansJP-Bold.otf') format("opentype");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Noto Sans JP", Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black;
  /* background-color: #0a090f; */
  /* background-color: #08070d; */
  color: #ffffff;
}

.landing {
  text-align: center;
  min-height: 60vh;
  margin-top: 30vh;
}

.landing h1 {
  font-size: 72px;
  letter-spacing: 15px;
  /* adjust for extra spacing after last letter */
  margin-right: -15px; 
  margin-bottom: 20px;
}

.landing p {
  font-size: 20px;
}

.landing button {
  margin-top: 50px;
  font-size: 20px;
  border: solid 5px;
  border-image: url('../public/solanaGradient.png') 100 100;
  background-color: #161424;
  color: #ffffff;
  padding: 20px 40px;
  border-radius: 15px;
  font-family: "Noto Sans JP";
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
}
.landing button:hover {
  background-color: #ffffff;
  border-color: #000000;
  color: #000000;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000;
  padding-bottom: 1em;
}

nav > div {
  display: flex;
}

.navbarLogo {
  margin-top: 10px;
  font-size: 20px;
}

.navbarLogo img {
  height: 60px;
  margin-top: 10px;
  margin-left: 30px;
}

.navbarLinks {
  text-transform: uppercase;
  margin-top: 10px;
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.navbarLinks a {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 3px;
  color: #fff;
  text-decoration: none;
  padding: 0.5em;
  margin: 0px 50px;
  border-bottom: 3px solid transparent; 
  /* transition: 0.3s; */
}

.navbarLinks .active {
  color: #fff;
  border-image: url('../public/solanaGradient.png') 100 100;
  border-bottom: 3px solid;
}

.navbarLinks a:hover {
  color: #fff;
  border-image: url('../public/solanaGradient.png') 100 100;
  border-bottom: 3px solid;
}

.navbarWallet {
  margin-top: 10px;
  margin-right: 10px;
}

.navbarWalletButton {
  float: right;
  font-size: 15px;
  color: #fff;
  background-color: #161424;
  border: solid 3px;
  border-image: url('../public/solanaGradient.png') 100 100;
  padding: 15px 30px;
  border-radius: 10px;
  font-family: "Noto Sans JP";
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
}

.navbarWalletButton:hover:not(:disabled) {
  background-color: rgb(81, 44, 168);
  color: #fff;
  /* background-color: #ffffff;
  color: #000000; */
  border-color: #000000;
}