[submodule "deps/swap"]
	path = deps/swap
	url = https://github.com/project-serum/swap
	ignore = dirty
[submodule "deps/serum-dex"]
	path = deps/serum-dex
	url = https://github.com/project-serum/serum-dex
	ignore = dirty
